:root {
    /* Padding for input box */
    --inputPaddingLeftAndRight: 10px;
    --InputPaddingTopAndBottom: 10px;

    --gap:18px;
    
    --tiny: 12px;
    --small: 14px;
    --medium: 16px;
    --large: 24px;
    
    --InputBorderColor: #B0B9C8;
    --transitionTime: .2s;
    --InputBoxColor: white;
    --InputTextColor: #0B2253;

    --PrimaryColor:#0A74DC;
    --darkenedPrimary:#035db7;
    --headings:#434854;
    --paragraphs:#737373;
    --dull:#303B54;
    --light:#B0B9C8;
    --darker:#031434;
    --error:rgb(168, 4, 4);

    --themeNatural: white;
    --hoverColor:rgba(255, 255, 255, 0.092);
    
    --sideBarWidth:300px;

    --tableLight:#A4A7B7;
    --tableLighter:#A4A7B766;
    
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
