.main{
    display: flex;
}
.darkPanel{
    background-color: var(--darker);
    width: 450px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkPanel img{
    width: 80%;
}
.loginInPanel{
    width: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) *3);
    width: 467px;
    border: 1px solid #A4A7B7;
    padding:40px 60px;
    border-radius: 8px;
}

.loginFormContainer h1{
    color: var(--headings);
    font-size: var(--large);
    margin-bottom: 10px;
}

.loginFormContainer p{
    color: var(--paragraphs);
    font-size: var(--medium);
}
.loginFormContainer > span{
    margin: auto;
    font-size: var(--tiny);
    width: fit-content;
    margin-top: 40px;
}
.loginFormContainer > span a{
    text-decoration: underline;
    color: var(--dull);
}.loginFormContainer span span{
    color: var(--light);
}